div{
    height: 200px;
    width: 500px;
    background-color: aquamarine;
    border-width: 5px;
    border-style: solid;
    border-color: palevioletred;
    border: 5px solid palevioletred;
    border-radius:10px;
    /* margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 10px 20px 30px;   
    /* border-top-right-radius: 5px; */
    /* padding-top: 10px;
    border-left-color: yellow;
    border-left-style: dashed;
    border-top-style:dashed ;
    border-top-color:blue ; */
}
h1{
    border-width: 2px;
    border-style: dashed;
    border-color: brown;
     
}

button{
    border: 2px solid seagreen;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:yellow;
}